@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.paragraph {
  display: flex;
  font-size: 30px;
  line-height: 1;
  color: black;
  flex-wrap: wrap;
}

.word {
  position: relative;
  margin-right: 6px;
  margin-top: 12px;
}

.shadow {
  position: absolute;
  opacity: 20%;
}
